@charset "utf-8";



/* 共通 */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック", Yu Gothic;
  font-size: 14px;
  line-height: 1.8em;
}

.base {
  background-image: url(../image/vintage-lerther-db.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 2rem 0 0 0;
}

.wrapper {
  width: 77.4%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #f3e5d3a2;
}

section {
  text-align: center;
  margin: 25% 0;
  padding: 0 12.4%;
}

section:first-of-type {
  padding-top: 8.3%;
  margin-top: 16.6%;
}

section:last-child {
  padding-bottom: 8.3%;
}

#main-visual-title {
  font-size: 3rem;
  letter-spacing: .4em;
}

#main-visual-title,
.main-visual-text {
  color: rgba(209, 201, 191, 0.808);
  text-shadow: 1px 0 5px #000;
}

h1,
h2,
h3,
h4,
.main-visual,
.gnavi__item {
  font-family: 'New Tegomin', serif;
  line-height: 2em;
}

.main-visual-text {
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2.4em;
  line-height: 1.2em;
}

.section__title img {
  vertical-align: top;
  height: 6.4em;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px dotted #333333;
}

h4 {
  font-size: 1.3rem;
  border-bottom: 1px dotted #333333;
}


/* 共通ここまで */





/* ヘッダー・メインここから */

header {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 116px;
  width: 100%;
  object-fit: contain;
  background-image: url(../image/087_02.png);
}

.gnavi {
  display: flex;
  align-items: center;
  height: 116px;
  float: right;
}


ul.gnavi__list {
  display: flex;
  list-style-type: none;
  width: 100%;
  align-items: center;
}

.gnavi__item {
  transition: .8s all;
  position: relative;
  margin-left: .5rem;
}

.gnavi__item::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background-image: url(../image/076e.png);
  background-position: center center;
  background-size: contain;
  z-index: -1;
  opacity: 0;
  transition: .8s all;
}

.gnavi__item:hover::after {
  opacity: 0.48;
}

.gnavi__item a {
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  opacity: 1;
}

/* ヘッダー制御 */
/*HeightMinというクラス名がついたら高さを小さく、上部固定に*/
#header.HeightMin{
	position: fixed;
    z-index: 999;/*最前面へ*/
	height:70px;
	animation: DownAnime 0.5s forwards;
  background-position: left bottom;
}

.gnavi.HeightMin {
  height: 70px;
  align-items: flex-start;
}

@keyframes DownAnime{
  from {
  	opacity: 0;
	transform: translateY(-116px);
  }
  to {
  	opacity: 1;
	transform: translateY(0);
  }
}


.main-visual {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#video-area {
  position: fixed;
  z-index: -1;
  /*最背面*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#video {
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}



#g-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100vh;
  background: #333;
  transition: all 0.6s;
}

#g-nav.panelactive {
  left: 0;
}


#g-nav.panelactive #g-nav-list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: rgba(209, 201, 191, 0.808);
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/* ハンバーガーボタン */
.openbtn1 {
  position: fixed;
  z-index: 9999;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.openbtn1 span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: rgba(209, 201, 191, 0.808);
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}


/* ヘッダーここまで */




/* worksここから */
.w__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3em;
}

.w__content img {
  max-width: 400px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

figcaption {
  width: 300px;
  margin: 0 auto;
}

/* worksここまで */




/* skill */

.s__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 50px;
  gap: 3em;
}

.grid__container {
  display: flex;
}

.grid__container img {
  width: 100px;
  height: 100px;
}

.skill__text {
  padding: 0 1.5rem;
  text-align: left;
}

.skill__text span {
  font-size: 1.2rem;
  font-weight: bold;
}

/* skillここまで */





/* profile */
.p__myself,
.p__content {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.profile__ph {
  font-family: 'New Tegomin', serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 3.2rem;
}

.profile__text {
  text-align: left;
}

.profile__text p {
  margin-bottom: 1rem;
}

.profile__text span {
  font-weight: bold;
}

.profile__text a {
  color: #000;
}

.p__myself img {
  max-width: 40%;
  height: auto;
  object-fit: contain;
  border-radius: 10px 10px;
}

.profile__love {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.6rem;
  max-width: 60%;
  min-width: 40%;
}

.profile__love img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px 10px;
}

.sp {
  margin-bottom: 2.4rem;
}

/* profileここまで */





/* contact */
#contact {
  text-align: center;
  font-size: 16px;
}

input[required],
textarea {
  width: 32em;
  max-width: 91.3%;
  background-color: rgba(235, 230, 224, 0.74);
  margin-bottom: 1.5rem;
}

input[required] {
  height: 1.6em;
}

textarea {
  height: 12em;
}

input[type="submit"] {
  background-color: #1a1816;
  color: rgba(194, 184, 172);
  padding: .5em 1.5em;
  box-shadow: 2px 2px 6px #000;
  font-weight: 600;
  margin-bottom: .5rem;
}

#contact a {
  color: #000;
  font-size: 14px;
}

/* contactここまで */




/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.534);
  text-align: center;
  color: #c2b8ac;
  padding: 1.6rem;
}

footer small {
  font-size: .8rem;
}

/* footerここまで */






/* プライバシーポリシー */
#privacy .wrapper {
  margin-top: 200px;
  padding: 2.4rem 2.4rem;
}






/* レスポンシブ */
@media (max-width: 1102px) {
  .skill__text {
    padding: 0 0 0 1.5rem;
  }
}


@media (max-width: 692px) {
  body {
    font-size: 13px;
  }

  h2 {
    margin-bottom: 2em;
  }

  .base {
    width: 100%;
  }

  .section__title img {
    height: 4.8em;
  }

  section:first-of-type {
    margin-bottom: 37%;
  }

  figcaption {
    width: 100%;
  }

  
  .skill__text {
    padding: 0 0 0 1.2rem;
  }

  .p__myself,
  .p__content {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
  }

  .profile__ph {
    text-align: left;
  }

  .profile__love {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .p__myself img {
    max-width: 60%;
  }
}



@media (min-width: 608px) {

  #g-nav,
  .openbtn1 {
    display: none;
  }
}

@media (max-width: 607px) {

  .gnavi {
    display: none;
  }

  header {
    background-image: none;
  }

  .profile__ph {
    font-size: 14px;
  }

}



@media (max-width: 530px) {
  body {
    font-size: 12px;
  }

  section {
    padding: 8.3%;
  }

  .w__content,
  .s__content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
  }
}


@media (max-width: 443px) {
  body {
    font-size: 12px;
  }

  .grid__container {
    flex-direction: column;
    align-items: center;
  }

  .section__title img {
    height: 4em;
  }

  .profile__ph {
    font-size: 13px;
  }

}